[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
build = "*"
pytest = "*"
pytest-cov = "*"
mypy = "*"
pylint = "*"
flake8 = "*"
flask = "*"
sqlalchemy = "*"
importlib-metadata = "*"
twine = "*"

[requires]
python_version = "3.10"
